@import '../index.scss';

.App {
	@extend .flex-row;
	@extend .flex-row_h-center;
	background-color: #f3f3f3;
	&Center {
		min-width: 720px;
		max-width: 720px;
		min-height: 100vh;
		background-color: #fff;
	}
}