.Loader {
	position: fixed;
	z-index: 200;
	top: 0px; left: 0px; bottom: 0px; right: 0px;
	&::before {
		position: absolute;
		content: '';
		height: 100%; width: 100%;
		left: 0; top: 0;
		z-index: 150;
		background-color: #000;
		opacity: 0.5;
	}
	& > span {
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%, -50%);
	}
}
