@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-size: 13px;
	box-sizing: border-box;
}

@mixin align($isReverse) {
	$v: 'v';
	$h: 'h';
	@if $isReverse {
		$v: 'h';
		$h: 'v';
	}
	&_#{$v}-{
		&start {
			align-items: flex-start;
		}
		&center {
			align-items: center;
		}
		&end {
			align-items: flex-end;
		}
	}
	&_#{$h}-{
		&start {
			justify-content: flex-start;
		}
		&center {
			justify-content: center;
		}
		&end {
			justify-content: flex-end;
		}
	}
}

.flex {
	&-row {
		display: flex;
		flex-direction: row;
		@include align(false);
	}
	&-column {
		display: flex;
		flex-direction: column;
		@include align(true);
	}
	&-fill {
		flex: 1;
	}
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: large;
}